/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Universal font */
html {
  font-family: "Montserrat", sans-serif;
}

/* Header Styles */

header {
  padding: 0 20rem;
}

/* Logo Styles */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem 0;
}
.logo-container-text-box {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  font-weight: bold;
  width: 10rem;
}
.bottom-text {
  align-self: flex-end;
}

.logo-img {
  width: 80px;
}

/* Navbar Styles */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.links-group a {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(0, 91, 221);
  text-decoration: none;
  border-radius: 12px;
  padding: 1.5rem;
  transition: all 0.3s linear;
}
.links-group .primary-btn {
  background-color: rgb(0, 91, 221);
  color: white;
}

.links-group a:hover {
  color: rgb(254, 85, 101);
}
.links-group .primary-btn:hover {
  color: white;
  background-color: rgb(254, 85, 101);
}

/* Footer Styles */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  background-color: rgb(0, 91, 221);
  color: white;
}
footer p {
  font-size: 1.25rem;
  font-weight: bold;
}

footer .copyright {
  font-weight: normal;
}

.footer-socials-group {
  /* margin: 1rem 0; */
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer-socials-group a {
  font-size: 2rem;
  color: white;
  transition: all 0.2s linear;
}
.footer-socials-group a:hover {
  color: rgb(254, 85, 101);
  transform: scale(1.2);
}

/* Home Section Styles */

section {
  padding: 5rem 20rem 2rem;
}

/* Grid layout for all pages */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50vh;
  gap: 2rem;
}

/* Flexbox applied for column layout on left grid */
.grid-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.grid-left h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.grid-left h1 span {
  color: rgb(0, 91, 221);
}
.grid-left h2 {
  font-size: 2rem;
}
.grid-left p {
  font-size: 1.25rem;
}

.home-buttons-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid-left .primary-btn {
  background-color: rgb(0, 91, 221);
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid rgb(0, 91, 221);
  border-radius: 12px;
  width: 50%;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  transition: all 0.3s linear;
}

#get-in-touch-btn {
  background-color: white;
  color: rgb(0, 91, 221);
  border: 1px solid rgb(0, 91, 221);
}

.grid-left .primary-btn:hover,
#get-in-touch-btn:hover {
  background-color: rgb(254, 85, 101);
  color: white;
  border: 1px solid rgb(254, 85, 101);
}

/* Image takes up 100% of right-hand grid */
.grid-right img {
  width: 100%;
}

/* courses.html styles */

#courses-section .grid-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#courses-grid-left .grid-left-header h1 {
  font-size: 2rem;
}
#courses-grid-left .grid-left-header h2 {
  font-size: 1.5rem;
}